### Numpy基础：数组与向量化计算

### Pandas入门

In [1]:
import numpy as np
import pandas as pd

#### Series

In [6]:
# 生成Series的过程会默认按照index进行排序
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [11]:
# 指定Series索引的过程，相遇于对值进行一次筛选，找到的匹配，没找到的以NAN填充，并且Series按指定索引的顺序排序
states = ['California', 'Oregon', 'Texas','Ohio']
obj4 = pd.Series(sdata, index = states)
obj4

California        NaN
Oregon        16000.0
Texas         71000.0
Ohio          35000.0
dtype: float64

In [12]:
data = pd.DataFrame({'Qu1': [1, 3, 4, 3, 4],
                     'Qu2': [2, 3, 1, 2, 3],
                     'Qu3': [1, 5, 2, 4, 4]})
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [13]:
data.apply(pd.value_counts)

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  NaN  2.0  1.0
3  2.0  2.0  NaN
4  2.0  NaN  2.0
5  NaN  NaN  1.0

In [16]:
!type examples/ex4.csv

命令语法不正确。