In [22]:
import numpy as np
import pandas as pd
import tushare as ts

### 参数说明：
• code：股票代码，即6位数字代码，或者指数代码（sh=上证指数 sz=深圳成指 hs300=沪深300指数 sz50=上证50 zxb=中小板 cyb=创业板）

• start：开始日期，格式YYYY-MM-DD

• end：结束日期，格式YYYY-MM-DD

• ktype：数据类型，D=日k线 W=周 M=月 5=5分钟 15=15分钟 30=30分钟 60=60分钟，默认为D

• retry_count：当网络异常后重试次数，默认为3

• pause:重试时停顿秒数，默认为0

返回值说明：
• date：日期
• open：开盘价
• high：最高价
• close：收盘价
• low：最低价
• volume：成交量
• price_change：价格变动
• p_change：涨跌幅
• ma5：5日均价
• ma10：10日均价
• ma20:20日均价
• v_ma5:5日均量
• v_ma10:10日均量
• v_ma20:20日均量
• turnover:换手率[注：指数无此项]

In [23]:
#获取A股所有股票的基本信息
stock_info=ts.get_stock_basics()

In [28]:
# 选取A股所有股票以及股票代码作为列表迭代参数
# stock = stock_info[['name','industry']].reset_index()
# stock['info'] = stock['code']+stock['name']
# stock = stock.reindex(columns=['info','code','name','industry'])
# code_d = stock['code'].tolist()
# code_d.append('sh')
# code_name = stock['name'].tolist()
# code_name.append('上证指数')
code_d = ['sh','600498','002352','002027','600104','600309']
code_name = ['上证指数','烽火通信','顺丰控股','分众传媒','上汽集团','万华化学']
# pd.DataFrame(stock).to_excel(r'C:\Users\Nikola\Desktop\Python\a.xlsx',index=False)

In [29]:
# stock = pd.read_excel(r'C:\Users\Nikola\Desktop\Python\a.xlsx',converters={'code':str})
# code_d = stock['code'].tolist()
# code_d.append('sh')
# code_name = stock['name'].tolist()
# code_name.append('上证指数')
# stock.head()

In [30]:
# 获取A股股票信息
all_data = {ticker:ts.get_hist_data(code = ticker,
                                    start='2019-01-01',
                                    end='2019-04-23') 
                                    for ticker in code_d}

In [31]:
# 获取收盘价
price = pd.DataFrame({ticker:data['close'] for ticker,data in all_data.items()})
price.columns = code_name
price.head()

               上证指数   烽火通信   顺丰控股  分众传媒   上汽集团   万华化学
date
2019-04-23  3212.03  32.11  33.96  7.13  28.37  47.79
2019-04-22  3215.04  33.08  34.31  6.85  28.42  46.75
2019-04-19  3270.80  32.47  34.90  6.94  29.63  47.32
2019-04-18  3250.20  31.98  34.77  6.76  29.54  46.88
2019-04-17  3263.12  32.17  35.27  6.85  30.22  47.48

In [32]:
price_p = price.pct_change()
price_p.dropna(how='all',inplace = True)
price_p.head()

                上证指数      烽火通信      顺丰控股      分众传媒      上汽集团      万华化学
date
2019-04-22  0.000937  0.030209  0.010306 -0.039271  0.001762 -0.021762
2019-04-19  0.017343 -0.018440  0.017196  0.013139  0.042576  0.012193
2019-04-18 -0.006298 -0.015091 -0.003725 -0.025937 -0.003037 -0.009298
2019-04-17  0.003975  0.005941  0.014380  0.013314  0.023020  0.012799
2019-04-16 -0.002917  0.009636 -0.006238  0.010219 -0.056254  0.004844

In [33]:
price_p.corr()

          上证指数      烽火通信      顺丰控股      分众传媒      上汽集团      万华化学
上证指数  1.000000  0.493499  0.538448  0.576389  0.545339  0.631840
烽火通信  0.493499  1.000000  0.286482  0.351555  0.370065  0.323820
顺丰控股  0.538448  0.286482  1.000000  0.438024  0.304478  0.514799
分众传媒  0.576389  0.351555  0.438024  1.000000  0.445383  0.399499
上汽集团  0.545339  0.370065  0.304478  0.445383  1.000000  0.427666
万华化学  0.631840  0.323820  0.514799  0.399499  0.427666  1.000000

In [34]:
pd.DataFrame(price_p.corrwith(price_p.上证指数),columns=['相关系数']).sort_values(by='相关系数',ascending = False)

          相关系数
上证指数  1.000000
万华化学  0.631840
分众传媒  0.576389
上汽集团  0.545339
顺丰控股  0.538448
烽火通信  0.493499