In [37]:
import numpy as np
import pandas as pd
import tushare as ts

#### 另外一个获取历史数据的函数get_h_data()
在不指定开始时间和结束时间时，该函数默认返回最近一年的日线数据，返回的数据与get_hist_data不同的是，该函数只返回开盘价（open）、最高价（high）、收盘价（close）、最低价（low）、成交量（volume）、成交金额（amount）六列 ，同样加上时间段也可以获取相应数据。

In [38]:
start = '2019-01-01'
end = '2019-04-23'

In [39]:
# # 获取最新的实时股票状态
# data = ts.get_today_all()
# data.head()

[Getting data:]############################################################

,code,name,changepercent,trade,open,high,low,settlement,volume,turnoverratio,amount,per,pb,mktcap,nmc
0,603999,读者传媒,0.000,6.60,6.64,6.68,6.51,6.60,1388300.0,0.24102,9151038.0,50.382,2.239,3.801600e+05,3.801600e+05
1,603998,方盛制药,1.301,11.68,11.53,11.84,11.50,11.53,8890280.0,2.09086,103510542.0,83.429,4.807,5.099753e+05,4.966298e+05
2,603997,继峰股份,0.187,10.70,10.76,10.77,10.48,10.68,533200.0,0.08463,5670612.0,22.446,3.661,6.841721e+05,6.741000e+05
3,603996,中新科技,0.287,10.47,10.44,10.53,10.43,10.44,584750.0,0.19482,6120264.0,21.367,2.001,3.142570e+05,3.142570e+05
4,603993,洛阳钼业,-0.220,4.54,4.56,4.58,4.52,4.55,16378119.0,0.09271,74586007.0,21.116,2.395,9.806055e+06,8.020261e+06

In [40]:
# # 选取当日code，name，以及settlement
# code_name = data[['code','name','settlement']]
# code_name.columns = ['code','name','price']
# code_name.head()

     code  name  price
0  603999  读者传媒   6.60
1  603998  方盛制药  11.53
2  603997  继峰股份  10.68
3  603996  中新科技  10.44
4  603993  洛阳钼业   4.55

In [41]:
# 提取指定代码和股票名称
# code = list(set(code_name['code'].tolist()))
# name = list(set(code_name['name'].tolist()))

In [71]:
# 自动指定无法实现，尝试手动指定沪深300个股
data = pd.read_excel(r'C:\Users\Nikola\Desktop\Python\沪深300.xlsx',converters={'code':str})
code = data.code.tolist()
code.append('sh')
name = data.name.tolist()
name.append('上证指数')

In [72]:
# 预览ts.get_k_data()的数据相关情况
ts.get_k_data('sh',start= start,end=end).head()

         date     open    close     high      low       volume code
0  2019-01-02  2497.88  2465.29  2500.28  2456.42  109932013.0   sh
1  2019-01-03  2461.78  2464.36  2488.48  2455.93  124397497.0   sh
2  2019-01-04  2446.02  2514.87  2515.32  2440.91  168877667.0   sh
3  2019-01-07  2528.70  2533.09  2536.98  2515.51  177305010.0   sh
4  2019-01-08  2530.30  2526.46  2531.34  2520.16  158099181.0   sh

In [73]:
# 获取时间范围内的所有股票数据
all_data = {ticker:ts.get_k_data(code = ticker,
                                 start = start,
                                 end=end) for ticker in code}

In [75]:
# 获取收盘价格
price = pd.DataFrame({ticker:data['close'] for ticker,data in all_data.items()})
price.columns = name
price.head()

,建发股份,中信建投,东吴证券,中南建设,济川药业,双汇发展,康美药业,上港集团,上海机场,分众传媒,...,紫光股份,汇顶科技,中直股份,ST康得新,中国重工,东旭光电,中国动力,龙蟒佰利,启迪桑德,上证指数
0,7.05,8.78,6.75,5.57,30.18,24.00,8.29,5.13,50.38,5.02,...,31.40,72.95,37.50,7.24,4.26,4.47,21.99,12.17,10.31,2465.29
1,7.06,9.21,6.90,5.57,28.92,23.27,7.46,5.19,49.70,5.10,...,31.13,72.42,38.91,6.95,4.35,4.49,21.87,12.16,10.25,2464.36
2,7.18,10.13,7.59,5.80,30.65,24.02,7.16,5.25,49.82,5.25,...,31.89,72.50,39.60,7.04,4.51,4.60,22.00,12.45,10.53,2514.87
3,7.23,10.21,7.55,5.87,31.05,24.95,7.25,5.27,49.78,5.30,...,32.69,73.95,40.70,7.18,4.63,4.66,21.90,12.60,10.62,2533.09
4,7.27,10.65,7.58,5.80,31.44,24.79,7.09,5.29,49.84,5.56,...,32.31,74.60,40.82,6.90,4.53,4.90,22.04,12.49,10.54,2526.46

In [84]:
# 计算收盘价格增幅
pct_price = price.pct_change(fill_method='pad')
pct_price.dropna(how='all',inplace=True)
pct_price.head()

,建发股份,中信建投,东吴证券,中南建设,济川药业,双汇发展,康美药业,上港集团,上海机场,分众传媒,...,紫光股份,汇顶科技,中直股份,ST康得新,中国重工,东旭光电,中国动力,龙蟒佰利,启迪桑德,上证指数
1,0.001418,0.048975,0.022222,0.000000,-0.041750,-0.030417,-0.100121,0.011696,-0.013497,0.015936,...,-0.008599,-0.007265,0.037600,-0.040055,0.021127,0.004474,-0.005457,-0.000822,-0.005820,-0.000377
2,0.016997,0.099891,0.100000,0.041293,0.059820,0.032230,-0.040214,0.011561,0.002414,0.029412,...,0.024414,0.001105,0.017733,0.012950,0.036782,0.024499,0.005944,0.023849,0.027317,0.020496
3,0.006964,0.007897,-0.005270,0.012069,0.013051,0.038718,0.012570,0.003810,-0.000803,0.009524,...,0.025086,0.020000,0.027778,0.019886,0.026608,0.013043,-0.004545,0.012048,0.008547,0.007245
4,0.005533,0.043095,0.003974,-0.011925,0.012560,-0.006413,-0.022069,0.003795,0.001205,0.049057,...,-0.011624,0.008790,0.002948,-0.038997,-0.021598,0.051502,0.006393,-0.008730,-0.007533,-0.002617
5,0.001376,0.046948,-0.007916,-0.005172,0.016539,-0.001210,0.098731,0.005671,0.017055,-0.001799,...,0.003405,-0.000804,-0.007349,0.100000,-0.013245,-0.012245,-0.001815,-0.004804,-0.000949,0.007077

In [94]:
result_corr = pd.DataFrame(pct_price.corrwith(pct_price.上证指数),columns=['相关系数']).sort_values(by='相关系数',ascending=False)
result_corr.head(20)

          相关系数
上证指数  1.000000
华夏银行  0.897125
江苏银行  0.884664
广发证券  0.876746
中国中铁  0.872693
中国石油  0.867279
民生银行  0.866256
华泰证券  0.856495
厦门钨业  0.853946
中国银行  0.850078
江西铜业  0.849814
中国化学  0.846069
成都银行  0.845547
中煤能源  0.842108
葛洲坝   0.841622
招商证券  0.840793
北京银行  0.838338
贵阳银行  0.837208
中国铝业  0.834115
洛阳钼业  0.830757