### 描述性统计分析可视化

In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
import random
%matplotlib inline

In [25]:
plt.rcParams['font.sans-serif']='SimHei' #解决中文乱码问题
plt.rcParams['axes.unicode_minus']=False #解决负号无法显示的问题
%config InlineBackend.figure_format = 'svg' #将图表设置为svg格式以保证更为清晰的显示

In [37]:
df0 = pd.read_excel(r'C:\Users\Nikola\Desktop\Python\销售记录.xlsx',usecols=[0,1,4,6,10,11,12,13],encoding='utf8')
df0.head(10)

      订单编号   客户ID 客户省份       下单日期       单价       金额
0  SO51522  11000   湖北 2018-06-20  2319.99  2319.99
1  SO51522  11000   湖北 2018-06-20    21.98    21.98
2  SO57418  11000   湖北 2018-10-03  2384.07  2384.07
3  SO57418  11000   湖北 2018-10-03    28.99    28.99
4  SO57418  11000   湖北 2018-10-03     4.99     4.99
5  SO57418  11000   湖北 2018-10-03    34.99    34.99
6  SO57418  11000   湖北 2018-10-03    53.99    53.99
7  SO51493  11001  甘肃省 2018-06-18  2319.99  2319.99
8  SO51493  11001  甘肃省 2018-06-18    21.98    21.98
9  SO51493  11001  甘肃省 2018-06-18     4.99     4.99

In [66]:
# 计算2018年销售额,日均销售额，订单均额，客单价额
df1 = df0[df0['下单日期']>datetime(2018,1,1)].sort_values(by='下单日期',ascending=True)
df1 = df1.reset_index().drop('index',axis=1)
df1.head()

      订单编号   客户ID 客户省份       下单日期         单价         金额
0  SO49192  19040   河南 2018-01-02  1000.4375  1000.4375
1  SO49195  20845   山西 2018-01-02   782.9900   782.9900
2  SO49194  20922  甘肃省 2018-01-02   782.9900   782.9900
3  SO49198  26662   西藏 2018-01-02   782.9900   782.9900
4  SO49196  12386   山西 2018-01-02  2071.4196  2071.4196

In [70]:
print("2018年的销售金额：",df1['金额'].sum())
print("2018年的日均销售金额：",df1['金额'].sum()/365)

2018年的销售金额： 43899243.2642
2018年的日均销售金额： 120271.8993539726

In [76]:
count1= df1.drop_duplicates(subset=['订单编号'],keep = 'first')['订单编号'].count()

In [79]:
print('2018年的客单价:',df1['金额'].sum()/count1)

2018年的客单价: 3098.0411619054344